D3D12DrawMesh/D3D12DrawMesh/obj/x64/Debug/*.obj
D3D12DrawMesh/.vs*
D3D12DrawMesh/D3D12DrawMesh/docbook/*
D3D12DrawMesh/D3D12DrawMesh/obj/*
D3D12DrawMesh/D3D12DrawMesh/bin/x64/Debug/*.ilk
D3D12DrawMesh/D3D12DrawMesh/bin/x64/Debug/*.pdb
D3D12DrawMesh/D3D12DrawMesh/bin/x64/Debug/*.exe
